* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A303C;
}

#container {
    width: 469px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #1F242D;
    padding: 50px 100px;
    transform: translateY(50%)
}

.header h1 {
    color: #A6ADBA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A6ADBA;
}

.score {
    font-size: 50px;
    font-family: 500;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.add-btn {
    background-color: #6419E6;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.add-btn:hover {
    background-color: #5014B8;
}

.minus-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #393F47;;
}

.del-btn {
    background-color: #1fb2ad;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    color: #fff;
}

.del-btn:hover{
    background-color: #198F85;
}